@inherits LayoutComponentBase

<header>
    <nav>
        <ul>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>

            <li>
                <a href="/users">Users</a>
            </li>

            <li>
                <a href="/issues">Issues</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    @Body
</main>

<footer>
    <h2>Footer</h2>
</footer>