@inherits LayoutComponentBase


<Header />

<main>
    <ModalDialog @ref="modalDialog" />
    <CascadingValue Value="modalDialog">
        @Body
    </CascadingValue>
</main>

<Footer />

@code {
    private ModalDialog modalDialog;

}