
<div class="row">
    <div class="input-field col s6">
        <InputText id="city" placeholder="Placeholder" @bind-Value="@Address.City" />
        <ValidationMessage For="()=>Address.City" />
        <label for="city">City</label>
    </div>
    <div class="input-field col s6">
        <InputText id="street" type="text" class="validate" @bind-Value="Address.Street" />
        <ValidationMessage For="()=>Address.Street" />
        <label for="street">Street</label>
    </div>

    <div class="row">
        <button type="button" class="waves-effect waves-light btn" @onclick="Remove">Remove</button>
    </div>
</div>


@code {

    [Parameter]
    public Address Address { get; set; }

    [Parameter]
    public EventCallback<Address> OnRemove { get; set; } 

    public async Task Remove()
    {
        await OnRemove.InvokeAsync(Address);
    }

}
