@if (isOpened)
{
    <div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,1); z-index:999"
    aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Title</h4>
                    <button type="button" class="close">&times;</button>
                </div>
                <div class="modal-body">
                    @if (@ChildContent is not null)
                        @ChildContent
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div>
}

@code {

    private bool isOpened = false;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }


    public void Open()
    {
        StateHasChanged();

        isOpened = true;
    }

    public void Close()
    {
        isOpened = false;
    }
}