<div><span style="margin-right:50px">@Title</span> <i class="material-icons">@Icon</i></div>

@code {

    [Parameter]    
    public string Title { get; set; }

    [Parameter]
    public string Icon { get; set; }

}