<table class="striped">
    <thead>
        <tr>
            @HeaderTemplate
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Users)
        {
            <tr>
               @RowTemplate(user)
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter, EditorRequired]
    public IEnumerable<User> Users { get; set; }

    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment<User> RowTemplate { get; set; }
}
