@page "/Issues"
@page "/Zgloszenia"
@inject NavigationManager navigationManager
@inject IssueApiService Api
@implements IDisposable

<h3>Issues</h3>

@if (issues is null)
{
    <em>Loading issues...</em>
}
else
{
    <ul>
        @foreach (var issue in issues)
        {
            <li><strong>@issue.Title</strong> @issue.Description</li>
        }
    </ul>
}

@code {
    private IEnumerable<Issue> issues;

    protected async override Task OnInitializedAsync()
    {
        navigationManager.LocationChanged += HandleLocationChanged;

        issues = await Api.GetAllAsync();
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        Console.WriteLine(e.Location);
    }

    protected virtual void Dispose(bool disposing)
    {
        navigationManager.LocationChanged -= HandleLocationChanged;
    }

    public void Dispose()
    {
        Dispose(true); GC.SuppressFinalize(this);
    }


}
