@page "/Dashboard"

<div class="row">
    <DashoardItem CardColour="orange" Value="23">
        <Standard Title="Open Issues" Icon="add" />        
    </DashoardItem>

    <DashoardItem CardColour="green" Value="1">
        <Standard Title="Closed Issues" Icon="add" />
    </DashoardItem>

    <DashoardItem CardColour="purple" Value="3">
        <Standard Title="Users" Icon="add" />        
    </DashoardItem>

    <DashoardItem CardColour="blue" Value="progress">
        <Standard Title="Progress" Icon="add" />
        <Progress Value="@progress"/>
    </DashoardItem>
</div>

@code {
    private int progress = 45;

}