@page "/Dashboard"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Policy = "IsAdult")]




@* note: W App.razor zamienić RouteView na AuthorizeRouteView! *@


<div class="row">
    <DashoardItem CardColour="orange" Value="23">
        <Standard Title="Open Issues" Icon="add" />
    </DashoardItem>

    <DashoardItem CardColour="green" Value="1">
        <Standard Title="Closed Issues" Icon="add" />
    </DashoardItem>

    <DashoardItem CardColour="purple" Value="3">
        <Standard Title="Users" Icon="add" />
    </DashoardItem>

    <DashoardItem CardColour="blue" Value="@progress">
        <CascadingValue Value="@MyIcon" Name="Icon">
            <CascadingValue Value="@MyTitle" Name="Title">
                <CascadingValue Value="@progress">
                    <StandardWithProgress />
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </DashoardItem>
</div>

@code {
    private int progress = 45;

    private string MyTitle = "Progress Tasks";
    private string MyIcon = "add";


}