<nav>
    <ul>
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>

        <li>
            <a href="/users">Users</a>
        </li>

        <li>
            <a href="/issues">Issues</a>
        </li>

        <li>
            <a href="/counter">Counter</a>
        </li>
    </ul>
</nav>
