@using BlazorClientApp.Features.Counter;
@using Fluxor.Blazor.Web.Components;
@using Fluxor;
@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<CounterState> CounterState

<nav>
    <ul>
        <li>
            <a href="/dashboard">Dashboard</a>
        </li>

        <li>
            <a href="/users">Users</a>
        </li>

        <li>
            <a href="/issues">Issues</a>
        </li>

        <li>
            <a href="/counter">Counter (@CounterState.Value.CurrentCount)</a>
        </li>

        <li>
            <a href="/settings">Settings</a>
        </li>

    </ul>
</nav>
