@page "/settings"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles="administrator,developer")]

<PageTitle>@title</PageTitle>

<h1>Settings Page</h1>


@code {
    private string title = "Settings Page";

}
