@page "/Users"

<h3>Hello Users!</h3>

@if (users is null)
{
    <ProgressBar>
        <em>Loading users...</em>
    </ProgressBar>
}
else
{
    <EntityTableTemplate Entities="users">
        <HeaderTemplate>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </HeaderTemplate>
        <RowTemplate Context="user">
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
        </RowTemplate>
    </EntityTableTemplate>

   
}