@page "/Users/New"
@inject UserApiService Api

<h3>New User</h3>


<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate" @bind=user.FirstName >
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" @bind=user.LastName>
                <label for="last_name">Last Name</label>
            </div>
        </div>       
        
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" @bind=user.Email>
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <button type="button" @onclick="HandleSubmit" class="waves-effect waves-light btn">Add</button>
        </div>

    </form>


</div>


@code {
    private User user = new();

    private async Task HandleSubmit()
    {
        await Api.AddAsync(user);
    }




}