@page "/Users/New"
@using Blazored.FluentValidation
@using Microsoft.AspNetCore.Components.Forms
@inject UserApiService Api

<h3>New User</h3>


<div class="row">
    <EditForm Model="@user" class="col s12" OnValidSubmit="@HandleValidSubmit">

        <FluentValidationValidator />
        <ValidationSummary />

        <div class="row">
            <div class="input-field col s6">
                <InputText placeholder="Placeholder" @bind-Value="user.FirstName" class="a" />
                <ValidationMessage For="()=>user.FirstName" />
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <InputText id="last_name" type="text" class="validate" @bind-Value=user.LastName />
                <ValidationMessage For="()=>user.LastName" />
                <label for="last_name">Last Name</label>
            </div>
        </div>       
        
        <div class="row">
            <div class="input-field col s12">
                <InputText id="email" type="email" class="validate" @bind-Value=user.Email />
                <ValidationMessage For="()=>user.Email" />
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="waves-effect waves-light btn">Add</button>
        </div>

    </EditForm>


</div>


@code {
    private User user = new();

    private async Task HandleValidSubmit()
    {
        await Api.AddAsync(user);
    }




}